/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========= END RESET ========= */

h1 {
  font-size: 64px;
}
body {
  height: 100%;
  width: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

} 
#title {
  display: flex;
}
#board {
  height: 300px;
  width: 300px;
  border: 4px solid red;
  margin: 10px 0 10px 0;

  display: flex;
  flex-direction: column;
}
.row { 
  display: flex;
  flex-direction: row;
}
.box {
  height: 100px;
  width: 100px;
  border: 4px solid red;
  font-size: 50px;
  font-family: arial;

  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  flex-direction: column;
  display: flex;
}
p {
  font-size: 24px;
  font-family: arial;
}
#reset {
  width: 60px;
  display: flex;
}
.foot {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
#winner {
  font-size: 30px;
  font-family: arial;
}
#leaderboard {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}
.player {
  margin: 4px 0 4px 0;
}

